@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
}

:root{
    --purple: #900C3F;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

.container {
    text-align: center;
    background: white;
    padding: 100px 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 50px;
    color: #333;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.role-button {
    padding: 30px 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin-button {
    background-color: var(--purple);
    color: white;
}

.admin-button:hover {
    background-color: #c90e56;
    transform: scale(1.05);
}

.user-button {
    background-color: #740a32;
    color: white;
}

.user-button:hover {
    background-color: #900C3F;
    transform: scale(1.05);
}

.modal{
    position: absolute;
    border: 1px solid black;
    top: -150%;
    left: 50%;
    opacity:0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background:#fff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0, 15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

#submit:hover{
    transform: scale(1.05);
}

.modal.active{
    top: 50%;
    opacity:1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.modal .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background:#888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.modal .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.modal .form .form-element{
    margin: 15px 0px;
}

.modal .form .form-element input[type="text"],
.modal .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.modal .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}

.modal .form .form-element button{
    width: 100%;
    height: 40px;
    border:none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer; 
}

.message-box{
    text-align: center;
    font-size: 12px;
    color: red;
}


